In [1]:
import pandas as pd

Series (1-dimensional)

DataFrame (2-dimensional, like a spreadsheet)

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
}

df = pd.DataFrame(data)

print(df)
print("-------------NAME-----------------------")

print(df['Name'])  # Select a column
print("-----------------NAME AND AGE-------------------")
print(df[['Name', 'Age']])  # Select multiple columns
print("------------------SECOND ROW------------------")
print(df.iloc[1])  # Select second row (index starts at 0)
print("---------------FILTERING ROW---------------------")
print(df.loc[df['Age'] > 25])  # Filter rows





## HANDLING MISSING VALUES


df.fillna(0, inplace=True)  # Replace NaN with 0
df.dropna(inplace=True)  # Remove rows with NaN values

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London
-------------NAME-----------------------
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
-----------------NAME AND AGE-------------------
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
------------------SECOND ROW------------------
Name      Bob
Age        30
City    Paris
Name: 1, dtype: object
---------------FILTERING ROW---------------------
      Name  Age    City
1      Bob   30   Paris
2  Charlie   35  London

In [ ]:
df = pd.read_csv("data.csv")  # Replace with your file path
print(df.head())  # Show first 5 rows

In [ ]:
print(df.info())  # Summary of the dataset
print(df.describe())  # Statistics for numerical columns
print(df.columns)  # Column names
print(df.shape)  # Number of rows and columns

Merging and Joining

In [13]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['A', 'B', 'C']})
df2 = pd.DataFrame({'ID': [1, 2, 3], 'Score': [85, 90, 95]})

merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

   ID Name  Score
0   1    A     85
1   2    B     90
2   3    C     95